/node_modules
/public/hot
/public/adminlte
/public/storage

/public/user_profiles/*
/public/user_documents/*
/public/greetings_images/*
/public/pancard/*
/public/insurance_company/*
/public/company/*
/public/policy_documents/*
/public/insurance_field_image/*
/public/main_slider/*

/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

!/public/user_profiles/default.jpg
!/public/pancard/default.jpg
!/public/company/default.jpg
!/public/insurance_company/default.jpg
!/public/main_slider/default.jpg

config\database.php
/public/log/*
