<IfModule mod_rewrite.c>
      RewriteEngine On
      RewriteCond %{REQUEST_FILENAME} !-f [OR]
      RewriteCond %{REQUEST_FILENAME} !-d
      ## Otherwise forward it to index.php
      RewriteRule ^.*$ public
</IfModule>
